[Desktop Entry]
Name=Harbor
Comment=Lightning Wallet for better bitcoin privacy
Type=Application
Keywords=bitcoin;lightning;privacy;wallet;
Categories=Office;Finance;
Exec=harbor
Icon=cash.harbor.harbor
StartupWMClass=cash.harbor.harbor
Terminal=false
