<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Harbor"
             Language="1033" Version="$(var.ProductVersion)" Manufacturer="Harbor Cash"
             UpgradeCode="PUT-A-UNIQUE-GUID-HERE-1111-2222-333333333333"> <Package InstallerVersion="301" Compressed="yes"
                 InstallScope="perMachine" Platform="x64" /> <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ManufacturerFolder" Name="Harbor Cash">
                    <Directory Id="INSTALLFOLDER" Name="Harbor">
                        <Component Id="MainExecutable" Guid="PUT-A-UNIQUE-GUID-HERE-4444-5555-666666666666">
                            <File Id="HarborExe"
                                  Source="$(var.HarborExePath)" KeyPath="yes" /> <Shortcut Id="ApplicationStartMenuShortcut"
                                      Name="Harbor"
                                      Description="Harbor Bitcoin Wallet"
                                      Target="[#HarborExe]"
                                      WorkingDirectory="INSTALLFOLDER"
                                      Icon="HarborIcon.ico"/> </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                 <Directory Id="ApplicationProgramsFolder" Name="Harbor"/>
            </Directory>
        </Directory>

        <Icon Id="HarborIcon.ico" SourceFile="$(var.HarborIconPath)" /> <Property Id="ARPPRODUCTICON" Value="HarborIcon.ico" /> <Feature Id="ProductFeature" Title="Harbor Application" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="ApplicationShortcutComponent" />
        </Feature>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcutComponent" Guid="PUT-A-UNIQUE-GUID-HERE-7777-8888-999999999999">
                <Shortcut Id="ApplicationStartMenuShortcutRef"
                          Name="Harbor"
                          Description="Harbor Bitcoin Wallet"
                          Target="[#HarborExe]"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="HarborIcon.ico"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Harbor Cash\Harbor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

         <UIRef Id="WixUI_Minimal" />
         <WixVariable Id="WixUILicenseRtf" Value="harbor-ui/assets/windows/License.rtf" /> </Product>
</Wix> 